{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="row g-3">
  <div class="col-md-6">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" id="Name" value="{{student.name}}">
  </div>
  <div class="col-md-6">
    <label for="Last_Name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="Last_Name" value="{{student.last_name}}">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Date of birth</label>
    <input type="text" class="form-control" id="inputAddress" value="{{student.dob.date()}}">
  </div>
  <div class="col-12">
    <!--<label for="inputAddress2" class="form-label">Parent or guardian</label>-->
    <a href="{{url_for('parent_page', pare_id=student.student_parent_id)}}" class="list-group-item">Parent or guardian</a>
  </div>

  <div class="col-md-12">
    {% for t in student.T_Tables %}
    <label for="inputCity" class="form-label">{{t.day_of_week}}, {{t.dayAndTime.time()}}</label>

    {% endfor %}
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
  <p>{{student.name}}</p>
</div>
{% endblock %}
